.footer {
	margin-top: 1600px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #54BAEC;
}
#thisId{
	display: none;
}
.BuyersNotice {
	width: 100%;
	margin-top: 15px;
}

.BuyersNoticeJuxing {
	width: 7.5px;
	height: 30px;
	background-color: #E05C49;
	position: absolute;
}

.BuyersNoticeText {
	position: relative;
	left: 20px;
	font-size: 1em;
	color: #E05C49;
	font-weight: 500;
	font-size:1.8em;
	height: 30px;
	line-height: 30px;
	padding-left: 5px;
	cursor: pointer;
}

.BuyersNoticeContent {
	margin-top: 10px;
	border: 1px solid #E05C49;
	width: 968px;
	padding: 15px 15px 10px 15px;
	text-indent: 2em;
}
.BuyersNoticeSlide {
	float: right;
	padding-right: 17px;
	padding-top: 10px;
}
.BuyersNoticeSlide img{
	width: 30px;
}
.down{
	display:none;
}
.top{
	display: ;
}
.SelectPopular{
	width: 1000px;
	margin-top: 15px;
}
.SelectMajor{
	width: 245px;
	float: left;
	margin-right: 5px;
}
.PopularGood{
	width: 745px;
	float: right;
	margin-left: 5px;
}
.SelectMajorJuxing,.SearchJuxing,.SellBook{
	width:210px;
	height: 30px;
	padding-left: 5px;
	border-left: 7.5px solid #E05C49;
	line-height: 30px;
	color: #E05C49;
	font-size: 1.4em;
	font-weight: 400;
}
.SelectMajorContent,.SearchContent,.SellBookContent{
	border: 2px solid #E05C49;
	padding: 10px 5px 10px 5px;
	width: 231px;
	margin-top: 5px;
	margin-bottom: 15px;
}
.PopularGoodJuxing,.DivideGroupJuxing{
	height: 30px;
	padding-left: 5px;
	border-left: 7.5px solid #E05C49;
	line-height: 30px;
	color: #E05C49;
	font-size: 1.4em;
	font-weight: 400;
	width: 710px;
}
.PopularGoodContent,.DivideGroupContent{
	border: 2px solid #E05C49;
	padding: 10px 5px 10px 15px;
	width: 721px;
	margin-top: 5px;
	margin-bottom: 15px;
}
.SelectMajorContent ul li{
	list-style-type: none;
	border-bottom: 1px dashed lightgrey;
	font-weight: 100;
	padding-top: 5px;
	padding-bottom: 2px;
}
li.SelectMajorContentFirst{
	padding-left: 5px;
	font-size: 1.2em;
	font-weight: 300;
}
li.SelectMajorContentSecond{
	margin-left: 30px;
	font-size: 1.1em;
	
}
li.SelectMajorContentThird{
	margin-left: 60px;	
}
li.SelectMajorContentThird span{
	display: none;
}
#search{
	border: 1px dashed #E05C49;
	border-right: 0px;
	height: 30px;
	padding: 0;
	margin: 10px 0px 10px 20px;
    padding-left: 5px;
    width: 130px;
}
#SearchSubmit{
	border: 1px dashed #E05C49;
	background-color: #E05C49;
	height: 32px;
	border-left: 0px;
	padding: 0;
	position: relative;
	right: 5px;
	padding-right: 2.5px;
	padding-left: 2.5px;
	color: white;
}
.SellBookPic{
	width: 231px;
	height: 231px;
}
.BuyContentList{
	border-bottom: 1px solid #E05C49;
	padding-bottom: 7px;
	margin-bottom: 7px;
}
.BuyContentListPic{
	width: 120px;
	height: 160px;
}
.BuyContentListMore{
	width: 280px;
	height: 160px;
	margin-left: 40px;
}
.BookTitle{
	font-size: 1.5em;
}
.BookHot{
	border: 2px solid #E05C49;
	color: #FFFFFF;
	background-color: #E05C49;
	position: relative;
	right: 180px;
	top: 130px;
	border-radius: 50%;
	text-align: center;
	font-size: 1.3em;
	font-weight: 100;
	padding: 0px 3px 0px 3px;
}
.BuyContentListPrice{
	width: 280px;
	height: 150px;
	padding-top: 10px;
	line-height: 2;
}
.BookEditor,.BookIsbn,.BookStock,.BookPublish{
	line-height: 2;
}
.OldPriceBefore,.NewPriceBefore{
	text-decoration: line-through;
}
.OldPriceAfter,.NewPriceAfter{
	font-size:2em;
	color: #E05C49;
}
.PageNumber{
	padding: 10px 5px 10px 15px;
	width: 725px;
	margin-top: 5px;
}
.PageNumber ul li {
	list-style-type: none;
	float: right;
	border:1px solid #E05C49;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	margin-left: 10px;
}
.PageNumber ul li:last-child{
	background-color: #E07262;
}
