#headerUl>li:first-child{
	border-bottom: 2px solid rgb(224,92,73);
}
#mid{
	width: 100%;
	background-color: rgb(244,247,237);
	height: 560px;
}
#midContentImg{
	width: 990px;
	height: 520px;
	margin-top: 20px;
	margin-bottom: 20px;
}
#bottom{
	widows: 100%;
	background-color:rgb(221,217,197);
}
#bottomContentUl{
	width: 100%;
	height: 150px;
}
#bottomContentUl>li{
	float: left;
	margin: 15px 0px 15px 0px;
}
#bottomContentUl>li:first-child{
	width: 285px !important;
	height: 130px !important;
	background-color: rgb(201,192,155);
	font-size: 1.4rem;
	padding: 10px 20px 10px 20px;
	color: rgba(255,255,255,0.8);
	margin-right: 5px;
}
#bottomContentUl>li:first-child>p::before{
	content: "最新公告";
	display: block;
	font-size: 2rem;
	margin-bottom: 10px;
	margin-top: 5px;
}
#bottomContentUl>li:first-child>p{
	display: block;
	height: 120px;
	overflow: hidden;
}
#bottomContentUl>li:nth-child(2){
	height: 150px;
	width: 370px!important;
	background-color: rgb(247,239,200);
}
#bottomContentUl>li:nth-child(3){
	width: 255px!important;
	background-color: rgb(201,192,155);
	font-size: 3rem;
	color: rgba(255,255,255,0.8);
	text-align: right;
	padding: 100px 30px 0px 0px;
	height: 50px;
	margin-left: 5px;
}
#bottomAboutus{
	font-size: 1.7rem;
	color: rgba(255,255,255,0.7);
	text-indent: 2rem;
	min-height: 150px;
	margin-bottom: 15px;
}
#footer{
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 1.5rem;
	color: black;
	opacity: 0.5;
}
#qrcode{
	position: fixed;
	width: 100px;
	max-height: 300px;
	right: calc((100% - 1000px) / 2 - 130px);
	top:550px;
}