.container{
	width: 100%;
}
.hearder{
	width: 100%;
	height: 90px;
	background-color: #54baec;
	margin-bottom: 5px;
}
.hearder-logo{
	position: absolute;
	top: 10px;
	width: 270px;
}
.content{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.am-slider{
	/*margin-top: 50px;*/
}
.am-slides li img{
	width: 100%;
	height: 400px;
}
