#headerUl>li:last-child{
	border-bottom: 2px solid rgb(224,92,73);
}
#hr{
	margin-top: 55px;
	border-bottom: 2px solid rgb(224, 92, 73);
}
#hrContent{
	width: 990px;
	margin:0px auto 0px auto;
	color: rgb(224, 92, 73);
	font-size: 2.2rem;
	text-align: right;
}
#hrContent::before{
	content: "购物车";
	float: left;
}
#listContent{
	width: 990px;
	margin: 15px auto 0px auto;
}
#list>li{
	height: 120px;
	padding: 10px;
	border:2px solid #eee;
	margin-bottom: 5px;
}
#list>li>.bookHover{
	box-shadow: 0px 0px 0px 0px;
}
#list>li img{
	height: 120px;
	float: left;
	width: 95px;
}
#list>li>ul{
	float: left;
	width: 370px;
	height:120px;
	margin:0px 20px 0px 20px;
	padding-left: 20px;
	border-left: 1px solid #eee;
	border-right:1px solid #eee;
}
#list>li>ul>li{
	font-size: 1.5rem;
}
#list>li>ul>li:nth-child(1){
	font-size: 2rem !important;
	margin-bottom: 15px;
	font-weight: 500;
}
#list>li>ul>li:nth-child(5) span{
	color: rgb(224,92,73);
}
#list>li p{
	float: left;
	height: 120px;
	width: 280px;
} 
#list>li p span{
	color: rgb(224,92,73);
	font-size: 2rem;
	line-height: 120px;
	padding-right: 15px;
}
#list>li div:last-child{
	float: left;
	height: 80px;
	width: 50px;
	padding-left: 50px;
	border-left:  1px solid #eee;
	font-size: 3rem;
	padding-top: 40px;
}
.bookHover{
	box-shadow: 0px 0px 10px 1px #eee;
}
#bottom{
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0px;
	border-top: 1px solid #eee;
	background-color: #fff;
	box-shadow: 0px 0px 4px 0px rgba(150,150,150,0.3)
}
#bottomContent{
	width: 990px;
	margin:0px auto 0px auto;
	overflow: auto;
}
#address{
	float: left;
	height: 30px;
	position: fixed;
	bottom: 0px;
	background-color: transparent;
	width: 360px;
	border-left:20px solid rgb(224,91,73);
	border-top:5px solid rgb(224,91,73);
	padding: 10px 10px 10px 10px;
	cursor: pointer;
}
#address span{
	height: 30px;
	line-height: 35px;
	color: rgb(150,150,150);
}
#submit{
	float: right;
}
#submit a{
	height: 50px;
	width: 150px;
	font-size: 2rem;
	line-height: 50px;
}
#form{
	visibility: hidden;
	position: fixed;
	width: 380px;
	height: 480px;
	background-color: #fff;
	box-shadow: 0px -4px 4px 0px rgba(150,150,150,0.3);
	padding-top: 50px;
	font-size: 1.5rem;
	overflow: hidden;
	color: rgb(100,100,100);
	bottom: 50px;
	border-bottom-width: 0px;
	border-left: 20px solid rgb(224,91,73);
}
#form>p{
	display: block;
	text-align: center;
	font-size: 2.2rem;
}
#form>p::after{
	content: "×";
	display: inline-block;
	font-size: 0.5rem;
	position: relative;
	left: 120px;
	bottom: 40px;
	color: rgb(224,92,73);
	font-weight: 900;
}
input{
	width: 50%;
	height: 30px;
	background-color: #eee;
	border:1px solid rgb(249,247,237);
	border-left-width: 0px;
	border-radius: 0px 10px 10px 0px;
	padding-left: 5px;
	float: left;
	margin-top: 30px;
}
#form span{
	float: left;
	display:block;
	width: 20%;
	height: 30px;
	margin-left: 15%;
	background-color: #eee;
	border:1px solid rgb(249,247,237);
	border-right-width: 0px;
	border-radius: 10px 0px 0px 10px;
	line-height: 30px;
	text-align: center;
	margin-top: 30px;
}
#form textarea{
	width: calc(70% - 30px);
	margin-top: 30px;
	float: left;
	position: relative;
	left: 15%;
	height: 60px;
	padding: 5px 15px 5px 15px;
	background-color: #eee;
	border:1px solid rgb(249,247,237);
	border-radius: 10px;
}
#form a{
	float: left;
	width: 40%;
	margin-left: 30%;
	margin-top: 30px;
	border-radius: 10px;
	border:1px solid rgb(0,0,0);
	color: inherit;
	border:1px solid transparent;
}
#form a:link{
	background-color: #eee;
	color: inherit;
	border:1px solid transparent;
}
#form a:visted{
	color: inherit;
	border:1px solid #eee;
}
#form a:hover{
	background-color: rgba(224,92,73,0.7);
	color: inherit;
	border:1px solid transparent;
}
#form a:active{
	background-color:  rgba(224,92,73,1);
	color: inherit;
	border:1px solid transparent;
}
.required{
	border:1px solid rgb(224,92,73);
}