*{
	list-style-type: none;
	font-family: "黑体" ;
	padding: 0px;
	margin: 0px;
	border: 0px;
}
table{
	width: 1000px;
	z-index: 50;
}
table tr td{
	width: 500px;
}
table tr:nth-child(2) td:nth-child(1){
	vertical-align: top;
}
.rightTd{
	vertical-align: top;
}
table tr:nth-child(1) td{
	height: 30px;
	text-align: center;
	color: #0392DC;
	font-size: 1.3em;
	padding-bottom: 5px;
	line-height: 30px;
	border-bottom: 3px dashed #54BAEC;
}
#ulLeft,#ulRight{
	height: 430px;
}
#ulLeft li,#ulRight li{
	height: 20px;
	line-height: 20px;
	margin: 15px 30px 0px 30px;
	width: 410px;
	padding: 0px 0px 0px 30px;
	color: #0392DC;
	font-size: 1.1em;
	cursor: pointer;
}
#ulLeft li:nth-child(odd),#ulRight li:nth-child(odd){
	border-left: 10px solid #05A2EF;
	border-bottom: 1px solid #05A2EF;
}
#ulRight li:first-child{
	display: none;
}
#ulLeft li:nth-child(even),#ulRight li:nth-child(even){
	border-left: 10px solid  #E05C49;
	border-bottom: 1px solid #E05C49;
	color: #E05C49;
}
.alert{
	position: fixed;
	left: 350px;
	top: 200px;
	width: 300px;
	border: 2px solid #05A2EF;
	background-color: white;
	box-shadow: 0px 2px 1px 1px darkgray;
	text-align: center;
	padding: 15px 0px 20px 0px;
	display: none;
	z-index: 80;
}
.alert div{
	margin: 0px 40px 0px 40px;
	padding: 10px 0px 10px 0px;
	border-bottom: 1px dashed #0392DC;
	cursor: pointer;
	background-color: white;
	opacity: 0.9;
}
.cover{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: darkgray;
	opacity: 0;
	z-index: 70;
	display: none;
}
.alert form input{
	width: 200px;
	border: 1px dashed #54BAEC;
	height: 30px;
}
.alert form{
	display: none;
}
.alert form input:first-child{
	display: none;
}
.alert form input:last-child{
	margin-top: 10px;
	width: 100px;
	background-color: #54BAEC;
	border-radius: 30px;
}
.PageNumber,.PageNumber2{
	margin-top: 10px;
	margin-right: 30px;
}
.PageNumber li,.PageNumber2 li{
	float: right;
	list-style-type: none;
	width: 20px;
	height: 20px;
	margin-left: 5px;
	border: 1px solid currentcolor;
	text-align: center;
	line-height: 20px;
	color: #0392DC;
	cursor: pointer;
	margin-bottom: 5px;
}
.PageNumber li:last-child,.PageNumber2 li:last-child{
	background-color: #0392DC;
	color: white;
}
