*{
	list-style-type: none;
	font-family: "黑体" ;
}
.LiContainer{
	width: 600px;
	margin: 10px auto 0px auto;
	display: none;
}
.LiContainer ul{
	width: inherit;
	position: relative;
	right: 30px;
}
.LiContainer ul li{
	width: 520px;
	text-align: center;
	height: 20px;
	line-height: 20px;
	margin-top: 15px;
	padding: 5px 50px 5px 0px;
	color: #0392DC;
	font-size: 1.1em;
	cursor: pointer;
}
.LiContainer ul li:nth-child(odd){
	border-left: 10px solid #05A2EF;
	border-bottom: 1px solid #05A2EF;
}
.LiContainer ul li:nth-child(even){
	border-left: 10px solid  #E05C49;
	border-bottom: 1px solid #E05C49;
	color: #E05C49;
}
.TdContainer{
	width: 1000px;
}
.TdContainer table tr td:nth-child(1){
	width: 400px;
	color: brown;
}
.TdContainer table tr td:nth-child(1) ul li,.TdContainer table tr td:nth-child(2) ul li{
	text-align: center;
	height: 15px;
	line-height: 15px;
	margin-top: 10px;
	padding: 5px 50px 5px 0px;
	color: #0392DC;
	font-size: 1.1em;
	cursor: pointer;
	vertical-align: top;
}
.TdContainer table tr td:nth-child(1) ul li:nth-child(odd),.TdContainer table tr td:nth-child(2) ul li:nth-child(even){
	border-left: 10px solid #05A2EF;
	border-bottom: 1px solid #05A2EF;
}
.TdContainer table tr td:nth-child(1) ul li:nth-child(even),.TdContainer table tr td:nth-child(2) ul li:nth-child(odd){
	border-left: 10px solid  #E05C49;
	border-bottom: 1px solid #E05C49;
	color: #E05C49;
}
.TdContainer table tr td:nth-child(2){
	width: 400px;
	vertical-align: top;
}

.TdContainer table tr td:nth-child(3){
	width: 200px;
	vertical-align: bottom;
	text-align: center;
}
#SubmitAdd{
	width: 50px;
	height: 30px;
	background-color:transparent;
	border: 1px solid #05A2EF;
	margin: 0px auto 0px auto;
}
